<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stories - <%= title %>
  </title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <link rel="stylesheet" href="/styles/contributions.css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- Extre script for upvote function -->
  <script defer src="/scripts/upvotes.js"></script>
  <!-- <link rel="stylesheet" href="/styles/upvotes.scss" /> -->
  <!-- <script defer src="/scripts/submit-contribution.js"></script> -->
</head>

<body>

  <header>
    <%- include('partials/header.ejs') %>
  </header>

  <main>
    <h1 class="story-title text-light">
      Story #<span class="story_id">
        <%= id %>
      </span>:
      <%= title %> 📖
    </h1>

    <section id="story">
      <div>
        <%= content %>
      </div>
    </section>

    <section id="suggest_contribution">
      <form action="/story_contribution" method="post" class="contribution_form">
        <label for="contribution">Write a new contribution:</label>
        <textarea id="contribution" name="contribution" cols="30" rows="5"></textarea>
        <input type="hidden" name="story_id" value="<%= id %>">
        <input type="submit" value="Submit" class="btn btn-dark ">
      </form>
    </section>

    <h2 class="submitted-contributions text-light">Submitted contributions</h2>
    <section id="contributions">
      <% for (let item of contributions) { %>
        <div>
          <p>
            <%= item.content %>
          </p>
          <section>
            <p><span class="upvotes">
                <div class="upvoteNum" id="upvote-num" style="border:none;"><%= item.upvotes %>
                </div>
                <button class="upvote-btn" data-id="<%= item.id %>">upvote</button>
              <!-- </span> <i class="fa-solid fa-circle-up"></i> -->
            </p>
          </section>
        </div>
        <% } %>
    </section>
  </main>

</body>

</html>
